extends base
include mixins/video

block content 
    form(method="get") 
        input(type="text", name="keyword", placeholder="제목으로 검색")
        input(type="submit", value="검색")
    
    div
        each video in videos 
            +video(video) 
        else
            li Sorry nothing found.